header{
    background-color:greenyellow;
    padding: 5px;
    text-align: center;
}
nav
{
    background-color:crimson;
    padding: 5px;
    text-align: center;
    margin: 5px 0px 5px 0px;
}
.cuerpazo{
    background-color: orange;
    text-align:center;
    padding-bottom: 100px;
}
.cuadrados
{
    position: absolute;
    
    
}
#cuadrado
{
    margin: 2px;
    padding: 20px;
    float: left;
    display: inline;
    background-color:white;
    border-style: solid;
    padding: 5px;
    text-align: center;
}
.rightsquare{
    float:right;
    padding: 50px;
    background-color: aqua;

}